@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This is a Proof-of-concept application to allow user's to easily reset their Oracle password.</p>
