@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    NTT DATA Services<br />
    737 Courtney St, Victoria, BC V8W 1C3<br />
    <abbr title="Phone">P:</abbr>
    +1 (778) 401-5253
</address>

<address>
    <strong>Web:</strong> <a href="https://ca.nttdata.com/en/">NTT DATA Services</a><br />
    <strong>Support:</strong> <a href="mailto:Support@nttdata.com">support@nttdata.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@nttdata.com">marketing@nttdata.com</a>
</address>
