@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Sierra Systems, an NTT DATA Company<br />
    737 Courtney St, Victoria, BC V8W 1C3<br />
    <abbr title="Phone">P:</abbr>
    (778)401-5253
</address>

<address>
    <strong>Web:</strong> <a href="https://www.sierrasystems.com/?gclid=CjwKCAjwxt_tBRAXEiwAENY8hX4B4xixnWOq4UIIDc5Z6zBGwn39Y97apxcKK9WkHHR7p5R68g4EJxoCBZgQAvD_BwE">Sierra Systems, an NTT DATA Company</a><br />
    <strong>Support:</strong> <a href="mailto:Support@nttdata.com">Support@nttdata.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@nttdata.com">Marketing@nttdata.com</a>
</address>
