@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Enter New Password";
}


<h1 class="display-4">Enter New Password</h1>
<div class="text-left">
   <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">
                        Verification successful! Enter the new Oracle database password for user @Model.userResetPwdModel.UserName below.
                    </label>                    
                    <input asp-for="userResetPwdModel.UserName" class="form-control hidden" />
                </div>
                <div class="form-group">
                    <input asp-for="userResetPwdModel.EmailAddr" class="form-control hidden" />
                </div>
                <div class="form-group">
                    <input asp-for="userResetPwdModel.VerificationCode" class="form-control hidden" />
                </div>
                <div class="form-group">
                    <label asp-for="userResetPwdModel.OraclePassword" class="control-label">NEW PASSWORD</label>
                    <input asp-for="userResetPwdModel.OraclePassword" type="password" class="form-control" />
                    <span asp-validation-for="userResetPwdModel.OraclePassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="userResetPwdModel.ConfirmedOraclePassword" class="control-label">CONFIRM NEW PASSWORD</label>
                    <input asp-for="userResetPwdModel.ConfirmedOraclePassword" type="password" class="form-control" />
                    <span asp-validation-for="userResetPwdModel.ConfirmedOraclePassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Reset Password" class="btn btn-primary" />    
                    <a class="btn btn-default" asp-page="./Index">
                        Back
                    </a>
                </div>
            </form>
        </div>
    </div>
   <div class="row text-danger">
       <div class="col-md-5">
           <label>@ViewData["Error"]</label>
       </div>
   </div>

